<h2>Podaj dane nowej osoby</h2>
<input placeholder="imię" [(ngModel)]="firstName" #newName /><br /><br />
<input
  placeholder="nazwisko"
  [(ngModel)]="familyName"
  #newFamilyName
/><br /><br />
<input
  type="number"
  style="width: 80px"
  placeholder="wiek"
  [(ngModel)]="age"
  #newAge
/><br /><br />
Adres:<br />
<input placeholder="miasto" [(ngModel)]="city" #newCity /><br /><br />
<input placeholder="ulica" [(ngModel)]="street" #newStreet /><br /><br />
<input
  placeholder="kod pocztowy"
  [(ngModel)]="postCode"
  #newPostCode
/><br /><br />
<button type="button" (click)="addPerson()">Zapisz</button>